@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
.bodyindex {
  background-image: url("../assets/img/fondo index.jpg");
  background-repeat: no-repeat;
  display: mapa-get((key1: flex, key2: grid, key3: block), key1);
  background-position: center;
  background-size: cover;
  height: 100%; }
  .bodyindex .bodyindex2 {
    background-color: rgba(0, 0, 0, 0.419);
    height: 100%; }
    .bodyindex .bodyindex2 .header {
      margin: 0%;
      padding: 0px;
      width: 100%;
      height: 90%; }
      .bodyindex .bodyindex2 .header .logoheader {
        padding: 0px;
        background-image: radial-gradient(circle, #b11809, #93160fc4, #761411c2, #591410dc, #3d110dd5);
        width: 100%;
        height: 50%;
        position: relative;
        border: solid black;
        border-style: double;
        border-width: 0.3cm;
        text-align: center; }
      .bodyindex .bodyindex2 .header .navHeader {
        padding: 0px;
        background-image: radial-gradient(circle, #b1170994, #93160f, #761511, #591410, #3d110d);
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 20%;
        position: flex;
        border: solid black;
        border-style: double;
        border-width: 0.3cm;
        text-align: center;
        justify-items: center;
        justify-content: center; }
        .bodyindex .bodyindex2 .header .navHeader .p1 {
          color: rgba(255, 255, 255, 0.815);
          background-color: rgba(7, 1, 1, 0.007);
          text-decoration: none;
          font-size: 125%;
          margin-left: 5%;
          margin-right: 5%;
          margin-bottom: 1%;
          margin-top: 1%;
          flex-wrap: wrap;
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          text-align: center;
          text-align: justify;
          padding: 1%;
          transition: all 1s;
          border-radius: 5%; }

.bodyindex2 {
  background-color: rgba(0, 0, 0, 0.419);
  height: 100%; }

.bodyagenda {
  background-repeat: no-repeat;
  background-image: url("../assets/img/fondo 2.jpg");
  background-size: cover;
  display: mapa-get((key1: flex, key2: grid, key3: block), key2);
  height: 100%; }

.bodybebida, .bodycomida, .bodycontacto {
  background-image: url("../assets/img/fondobebida 2.jpg");
  background-color: rgba(0, 0, 0, 0.521);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100; }

.bodycomida {
  background-image: url("../assets/img/fondo 5.jpg");
  background-color: rgba(0, 0, 0, 0.855); }

.bodycontacto {
  display: mapa-get((key1: flex, key2: grid, key3: block), key3);
  background-image: url("../assets/img/contacto.jpg");
  background-color: rgba(0, 0, 0, 0.855); }

.botonReserva {
  display: flex;
  position: relative;
  justify-self: center;
  justify-content: center; }

.chekbox {
  display: flex;
  width: 30px;
  height: 30px;
  flex-direction: row;
  justify-content: center;
  align-self: center; }

.colorl {
  color: white; }

.color2 {
  color: rgba(141, 0, 0, 0.836); }

.footer {
  width: 100%;
  height: 60%;
  background-image: radial-gradient(circle, #b11809, #93160f, #761511, #591410, #3d110d);
  margin-top: 0%;
  padding: 1%;
  border: solid black;
  border-style: double;
  border-width: 0.3cm; }

.footer2 {
  width: 96, 5%;
  height: 70%;
  background-image: radial-gradient(circle, #b11809, #93160f, #761511, #591410, #3d110d);
  margin-top: 2%;
  padding: 1%;
  border: solid black;
  border-style: double;
  border-width: 0.3cm; }

.sup_formulario {
  display: flex;
  align-self: center;
  justify-content: center;
  height: 90%;
  width: 100%; }

.formulario {
  background-color: background #500808;
  background: linear-gradient(90deg, #383838d8 0%, rgba(0, 0, 0, 0.84) 40%, #350707d5 80%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5%;
  padding: 1%;
  height: 100%;
  width: 60%; }

.formulario2 {
  background-color: rgba(100, 9, 9, 0.733);
  justify-self: center;
  display: block;
  border-radius: 5%;
  height: 20%;
  width: 60%;
  text-align: justify;
  text-align: center;
  border: solid white;
  justify-content: center; }

.grid_texto {
  color: white;
  display: flex;
  background-color: rgba(1, 67, 124, 0.797);
  font-size: 160%;
  border: double black;
  width: 95%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  justify-content: center;
  justify-items: center; }

.grid {
  display: grid;
  grid-template-columns: 30% 50%;
  grid-template-rows: auto auto;
  justify-content: center;
  justify-items: center;
  text-justify: auto;
  margin-top: 2%;
  width: 100%;
  height: 100;
  padding: 0%; }

#grilla2 {
  display: grid;
  grid-template-areas: "header2 header2 header2" "auto titulu auto" "guitarra caja2 caja2" "guitarra caja2 caja2" "footer2 footer2 footer2"; }
  #grilla2 header2 {
    grid-area: header2; }
  #grilla2 caja2 {
    grid-area: caja2; }
  #grilla2 titulo {
    grid-area: titulu; }
  #grilla2 guitarra {
    grid-area: guitarra; }
  #grilla2 footer2 {
    grid-area: footer2; }

.header {
  margin: 0%;
  padding: 0px;
  width: 100%;
  height: 90%; }

.logoheader {
  padding: 0px;
  background-image: radial-gradient(circle, #b11809, #93160fc4, #761411c2, #591410dc, #3d110dd5);
  width: 100%;
  height: 50%;
  position: relative;
  border: solid black;
  border-style: double;
  border-width: 0.3cm;
  text-align: center; }

.header3 {
  display: grid;
  width: 98%;
  height: 100%; }

.logoheader2 {
  padding: 0px;
  background-image: radial-gradient(circle, #b11809, #93160fc4, #761411c2, #591410dc, #3d110dd5);
  width: 100%;
  height: 90%;
  position: relative;
  border: solid black;
  border-style: double;
  border-width: 0.3cm;
  text-align: center; }

.imagenreserva {
  height: 30%;
  width: 30%;
  margin-top: 2%; }

.imagenesbebidas {
  border: image slice 10px black;
  display: block;
  margin: auto;
  border-radius: 5%; }

.imagenescomida {
  display: block;
  margin: auto;
  border-radius: 5%;
  text-align: center; }

.imagenindex {
  display: flex;
  margin: 3%;
  border-radius: 5%;
  text-align: center; }

.imagenindex1 {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  height: 70%;
  width: 70%;
  justify-content: start;
  justify-items: center; }

.imagenContacto {
  display: flex;
  margin: 2%;
  border-radius: 5%;
  text-align: center;
  height: auto;
  width: 23%;
  border: double black;
  background-color: #3d110d;
  border-width: 2%; }

.imagenContacto2 {
  display: flex;
  margin: 2%;
  border-radius: 5%;
  text-align: center;
  height: auto;
  width: 23%;
  border: double black;
  background-color: #3d110d;
  border-width: 2%; }

.imagenContacto1 {
  display: flex;
  margin: 2%;
  justify-content: center;
  text-align: center;
  height: auto;
  width: 100%; }

.imagenindexpublicidad {
  position: relative;
  margin: 1%;
  left: 0%;
  height: 90%;
  width: 70%;
  display: flex;
  border-radius: 5%; }

.imagenindexpublicidad1 {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%; }

.imagenindexpublicidad2 {
  position: relative;
  display: flex;
  height: 80%;
  width: 60%;
  justify-self: end;
  justify-self: flex-end;
  justify-self: right; }

main {
  display: flex;
  justify-items: center;
  flex-direction: column; }

.publicidad {
  display: flex;
  grid-template-columns: auto auto;
  height: 100%;
  width: 100%;
  align-items: end;
  flex-direction: row;
  justify-content: space-between; }

.sectionh {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center; }

.margenes {
  background-color: #00000000;
  justify-content: space-around;
  height: 30px; }

.guitarra {
  justify-self: start;
  margin-left: 2%;
  margin-top: 3%;
  height: 60%;
  width: 70%; }

.grupo {
  display: flex;
  grid-row: auto;
  background-color: #3d110d00;
  -ms-grid-row-align: center; }

.contraste {
  display: grid;
  background-color: rgba(0, 0, 0, 0.855);
  background-size: cover; }

.mainclass {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.navHeader2 {
  background-image: radial-gradient(circle, #b11809, #93160fc4, #761411c2, #591410dc, #3d110dd5);
  display: flex;
  grid-template-columns: 20% 20% 20% 20% 20%;
  width: 100%;
  height: 100%;
  position: flex;
  border: solid black;
  border-style: double;
  border-width: 0.3cm;
  text-align: center;
  justify-items: center;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly; }

.navHeader {
  padding: 0px;
  background-image: radial-gradient(circle, #b1170994, #93160f, #761511, #591410, #3d110d);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 20%;
  position: flex;
  border: solid black;
  border-style: double;
  border-width: 0.3cm;
  text-align: center;
  justify-items: center;
  justify-content: center; }

.bounce-in-top {
  animation: bounce-in-top 2s both; }

.p1:hover {
  background-color: rgba(77, 2, 2, 0);
  color: #00397a;
  font-size: 140%; }

.carrucel {
  background-color: rgba(0, 0, 0, 0.973);
  margin: 1%;
  height: 50%;
  width: 50%; }

.carrucel__padre {
  position: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  background-color: #00000041;
  height: 150%; }

.carrucel__hijos {
  background-color: #3d110d;
  position: relative;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-items: center;
  width: 100%; }

.kenburns-top {
  -webkit-animation: kenburns-top 5s ease-in both;
  animation: kenburns-top 5s ease-in both; }

@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%; }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top; } }

@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%; }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top; } }

.vibrate-1 {
  -webkit-animation: vibrate-1 0.4s linear infinite both;
  animation: vibrate-1 0.4s linear infinite both; }

@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0); }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px); }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px); }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px); }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px); }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0); } }

@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0); }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px); }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px); }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px); }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px); }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0); } }

.p3:focus {
  font-size: 25px; }

.p5 {
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-left: 2%;
  margin: 1%;
  background-color: rgba(0, 0, 0, 0.834);
  color: white;
  font-size: 130%;
  height: 90%;
  width: 100%; }

.carrucel_comida {
  display: flex;
  height: 20%;
  width: 30%;
  margin-left: 2%;
  border: solid black;
  background-color: #3d110d00;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  height: 60%; }

.carrucel__tabla {
  margin-left: 10%;
  display: flex;
  color: white;
  justify-content: center;
  justify-items: center;
  background-color: rgba(0, 0, 0, 0.644);
  text-align: center;
  width: 50%;
  justify-content: center;
  height: 70%;
  align-items: center;
  position: relative;
  font-size: 200%;
  border: solid rgba(255, 255, 255, 0.555); }

.carrucel__tabla_picada {
  margin-left: 10%;
  display: flex;
  color: white;
  justify-content: center;
  justify-items: center;
  background-color: rgba(236, 231, 231, 0.644);
  text-align: center;
  width: 50%;
  justify-content: center;
  height: 100%;
  align-items: center;
  position: relative;
  font-size: 200%;
  border: solid rgba(255, 255, 255, 0.555); }

.rotate-vert-center {
  -webkit-animation: rotate-vert-center 14s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: rotate-vert-center 14s cubic-bezier(0.455, 0.03, 0.515, 0.955) both; }

@-webkit-keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0); }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg); } }

@keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0); }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg); } }

@keyframes fotoreserva {
  0% {
    width: 100px;
    height: 100px; }
  25% {
    width: 200px;
    height: 200px; }
  50% {
    width: 300px;
    height: 300px; }
  75% {
    width: 400px;
    height: 400px; }
  100% {
    width: 400px;
    height: 400px; } }

@keyframes rotate-scale-up {
  0% {
    transform: scale(1) rotateZ(0); }
  50% {
    transform: scale(2) rotateZ(180deg); }
  100% {
    transform: scale(1) rotateZ(360deg); } }

.rotate-scale-up {
  animation: rotate-scale-up 5s linear both; }

@keyframes swing-in-top-fwd {
  0% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0; }
  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1; } }

.swing-in-top-fwd {
  animation: swing-in-top-fwd 5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both; }

@keyframes bounce-in-top {
  0% {
    transform: translateY(-500px);
    animation-timing-function: ease-in;
    opacity: 0; }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1; }
  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in; }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out; }
  81% {
    transform: translateY(-28px);
    animation-timing-function: ease-in; }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out; }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in; }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out; } }

.rotate-vert-center {
  animation: rotate-vert-center 16s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both; }

@keyframes rotate-vert-center {
  0% {
    transform: rotateY(0); }
  100% {
    transform: rotateY(360deg); } }

.p1 {
  color: rgba(255, 255, 255, 0.815);
  background-color: rgba(7, 1, 1, 0.007);
  text-decoration: none;
  font-size: 125%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1%;
  margin-top: 1%;
  flex-wrap: wrap;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  text-align: justify;
  padding: 1%;
  transition: all 1s;
  border-radius: 5%; }

.textoindex {
  display: flex;
  align-self: center;
  padding: 1%;
  text-align: justify;
  text-align: center;
  font-size: 120%;
  border: solid 5px black;
  color: white;
  background-color: black;
  height: 55%;
  width: 50%; }

.p3 {
  display: flex;
  background-color: rgba(255, 0, 0, 0);
  color: white;
  font-size: 150%;
  height: 100%;
  width: 100%;
  justify-content: center;
  transition: all 3s; }

.p3__2 {
  display: flex;
  background-color: rgba(255, 0, 0, 0);
  color: white;
  font-size: 150%;
  height: 100%;
  width: 100%;
  justify-content: center;
  flex-direction: row; }

.p3__3 {
  display: flex;
  background-color: rgba(122, 122, 122, 0.863);
  color: #fff4f4;
  font-size: 150%;
  height: 100%;
  width: 100%;
  justify-content: center;
  flex-direction: row; }

.titulos {
  display: flex;
  text-align: justify;
  text-decoration: none;
  font-size: 12vh;
  text-align: center;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  align-self: center;
  border-radius: 2%;
  gap: 10%;
  padding: 1%;
  font-family: "heroes";
  background-color: #0301007c;
  color: #fac32a;
  width: 100%; }

.titulos3 {
  text-align: center;
  text-decoration: none;
  font-size: 10vh;
  border: solid black;
  gap: 10%;
  padding: 1%;
  font-family: "heroes";
  background-image: radial-gradient(circle, #b11809, #93160fc4, #761411c2, #591410dc, #3d110dd5);
  color: #fac32a;
  width: auto; }

.titulos2 {
  text-align: center;
  text-decoration: none;
  font-size: 200%;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 1%;
  padding: 1%;
  font-family: "heroes";
  background-image: radial-gradient(circle, #b11809, #93160fc4, #761411c2, #591410dc, #3d110dd5);
  color: #fac32a; }

@font-face {
  font-family: "heroes";
  src: url(../fonts/Teko-Regular.ttf); }

.p1_agenda {
  color: rgba(255, 255, 255, 0.815);
  background-color: rgba(7, 1, 1, 0.007);
  text-decoration: none;
  font-size: 125%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1%;
  margin-top: 1%;
  flex-wrap: wrap;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  text-align: justify;
  padding: 1%;
  transition: all 1s;
  border-radius: 5%; }

.titulos4 {
  text-align: center;
  text-decoration: none;
  font-size: 10vh;
  border: solid black;
  height: 100%;
  padding: 1%;
  font-family: "heroes";
  background-color: #0301007c;
  color: #fac32a;
  width: auto; }

* {
  font-family: "heroes"; }

.clase_padre_p2 {
  display: flex;
  justify-content: center;
  justify-content: center; }

.p2 {
  display: flex;
  background-color: #640909;
  color: white;
  text-decoration: none;
  font-size: 180%;
  padding: 2%;
  width: auto;
  justify-content: center;
  border: solid white; }

.clase_padre_p3 {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center; }

.p8 {
  color: white;
  height: 50%;
  width: 90%;
  font-size: 150%;
  background-color: #3d110d; }

.p9 {
  color: white;
  height: 50%;
  width: 90%;
  font-size: 150%; }

.p4 {
  background-color: rgba(167, 0, 0, 0.904);
  color: white;
  height: 200;
  width: 200;
  margin-left: 1400px;
  margin-right: 100px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px;
  border: solid 5px black; }

.p6 {
  margin-left: 2%;
  margin-left: 40%;
  margin-right: 47%;
  text-align: center;
  text-align: justify;
  background-color: rgba(0, 0, 0, 0.834);
  color: white;
  font-size: 150%;
  font-style: italic;
  height: auto; }

.p7 {
  text-align: justify;
  text-align: center;
  margin-left: 25%;
  margin-right: 20%;
  background-color: rgba(0, 0, 0, 0.834);
  color: white;
  font-size: 150%;
  height: 50%;
  border: solid 5px #930000; }

.p10 {
  display: grid;
  background-color: rgba(255, 0, 0, 0);
  color: white;
  font-size: 150%;
  width: 100%;
  justify-content: center; }

* {
  margin: 0%;
  padding: 0%; }

@media screen and (min-width: 576px) {
  #grilla {
    grid-template-columns: 0.2fr 1, 2fr; } }

@media screen and (max-width: 1200px) {
  .guitarra {
    display: grid;
    height: 40%;
    width: 50%;
    justify-content: center;
    justify-self: center;
    grid-template-columns: auto; }
  #grilla2 {
    display: grid;
    grid-template-areas: "header2" "auto titulu auto" "guitarra" "caja2" "footer2"; }
  .grupo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #3d110d00;
    -ms-grid-row-align: center; } }

@media screen and (max-width: 740px) {
  .guitarra {
    display: grid;
    height: 30%;
    width: 40%;
    justify-content: center;
    justify-self: center;
    grid-template-columns: auto; }
  #grilla2 {
    display: grid;
    grid-template-areas: "header2" "auto titulu auto" "guitarra" "caja2" "footer2"; }
  .grupo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #3d110d00;
    -ms-grid-row-align: center; }
  .grid_texto {
    color: white;
    display: flex;
    background-color: rgba(1, 67, 124, 0.797);
    font-size: 120%;
    border: double black;
    width: 95%;
    height: 130%;
    margin: 0%;
    padding: 0%;
    justify-content: center;
    justify-items: center; } }

@media screen and (max-width: 481px) {
  .guitarra {
    display: grid;
    height: 30%;
    width: 40%;
    justify-content: center;
    justify-self: center;
    grid-template-columns: auto; }
  #grilla2 {
    display: grid;
    grid-template-areas: "header2" "auto titulu auto" "guitarra" "caja2" "footer2"; }
  .grupo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #3d110d00;
    -ms-grid-row-align: center; }
  .grid_texto {
    color: white;
    display: flex;
    background-color: rgba(1, 67, 124, 0.797);
    font-size: 120%;
    border: double black;
    width: 95%;
    height: 130%;
    margin: 0%;
    padding: 0%;
    justify-content: center;
    justify-items: center; }
  .navHeader2 {
    background-image: radial-gradient(circle, #b11809, #93160fc4, #761411c2, #591410dc, #3d110dd5);
    display: flex;
    grid-template-columns: 20% 20% 20% 20%;
    width: 100%;
    height: 100%;
    position: flex;
    border: solid black;
    border-style: double;
    border-width: 0.3cm;
    text-align: center;
    justify-items: center;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap; } }

/*meiacueri contacto*/
@media screen and (max-width: 600px) {
  .p7 {
    text-align: justify;
    text-align: center;
    margin-left: 1%;
    margin-right: 1%;
    background-color: rgba(0, 0, 0, 0.834);
    color: white;
    font-size: 150%;
    height: 50%;
    border: solid 5px #930000; }
  .formulario2 {
    background-color: rgba(100, 9, 9, 0.733);
    justify-self: center;
    display: block;
    border-radius: 5%;
    height: 20%;
    width: 90%;
    text-align: justify;
    text-align: center;
    border: solid white;
    justify-content: center; }
  .navHeader {
    padding: 0px;
    background-image: radial-gradient(circle, #b1170994, #93160f, #761511, #591410, #3d110d);
    display: flex;
    width: 100%;
    height: 30%;
    position: flex;
    border: solid black;
    border-style: double;
    border-width: 0.3cm;
    text-align: center;
    justify-items: auto;
    justify-content: center; }
  .p1 {
    font-size: 110%; }
  .imagenContacto {
    display: flex;
    margin: 2%;
    border-radius: 5%;
    text-align: center;
    height: 0%;
    width: 0%;
    border: double black;
    background-color: #3d110d;
    border-width: 2%; }
  .imagenContacto2 {
    display: flex;
    margin: 2%;
    border-radius: 5%;
    text-align: center;
    height: 50%;
    width: 50%;
    border: double black;
    background-color: #3d110d;
    border-width: 2%; }
  .titulos2 {
    font-size: 300%;
    margin: 0%; } }

@media screen and (max-width: 1000px) {
  .carrucel_comida {
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 90%;
    flex-direction: row;
    height: 60%; }
  .sectionh {
    flex-direction: column; }
  .carrucel__tabla {
    width: 100%;
    margin: 0%;
    margin-top: 2%; }
  .carrucel__padre {
    width: 100%;
    height: 150%;
    margin: 0%; }
  .textoindex {
    margin: 3%;
    width: 90%;
    font-size: 150%;
    background-color: #3d110d; }
  .formulario {
    width: 100%;
    margin: 1%; } }

.grid_texto {
  color: white;
  display: flex;
  background-color: rgba(1, 67, 124, 0.797);
  font-size: 160%;
  border: double black;
  width: 95%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  justify-content: center;
  justify-items: center; }

.grid {
  display: grid;
  grid-template-columns: 30% 50%;
  grid-template-rows: auto auto;
  justify-content: center;
  justify-items: center;
  text-justify: auto;
  margin-top: 2%;
  width: 100%;
  height: 100;
  padding: 0%; }

#grilla2 {
  display: grid;
  grid-template-areas: "header2 header2 header2" "auto titulu auto" "guitarra caja2 caja2" "guitarra caja2 caja2" "footer2 footer2 footer2"; }
  #grilla2 header2 {
    grid-area: header2; }
  #grilla2 caja2 {
    grid-area: caja2; }
  #grilla2 titulo {
    grid-area: titulu; }
  #grilla2 guitarra {
    grid-area: guitarra; }
  #grilla2 footer2 {
    grid-area: footer2; }
