$bodycolor:rgba(0, 0, 0, 0.855);
$mapita:(key1:flex,key2:grid,key3:block);
@mixin elPoderoso{
    background-repeat: no-repeat;
    
}

.bodyindex {
    background-image: url("../assets/img/fondo\ index.jpg");
    @include elPoderoso();
    display:map-get($map:mapita, $key:key1);
    background-position: center;
    background-size: cover;
    height: 100%;
}

.bodyindex2 {
    background-color: rgba(0, 0, 0, 0.419);
    height: 100%;

}
.bodyagenda {

    @include elPoderoso();
    background-image: url("../assets/img/fondo\ 2.jpg");
    background-size: cover;
    display:map-get($map:mapita, $key:key2);
    height: 100%;
}


.bodybebida {
    background-image: url("../assets/img/fondobebida\ 2.jpg");
    background-color: rgba(0, 0, 0, 0.521);
    @include elPoderoso();
    background-position: center;
    background-size: cover;
    height: 100;




}
.bodycomida {
    @extend .bodybebida;
    background-image: url("../assets/img/fondo\ 5.jpg");
    background-color:$bodycolor;   
}

.bodycontacto {
    @extend.bodybebida;
    display:map-get($map:mapita, $key:key3);
    background-image: url("../assets/img/contacto.jpg");
    background-color:$bodycolor;
   



}
