
.imagenreserva {
    height: 30%;
    width: 30%;
    margin-top: 2%;




}

.imagenesbebidas {
    border: image slice 10px black;
    display: block;
    margin: auto;
    border-radius: 5%;
}

.imagenescomida {
    display: block;
    margin: auto;
    border-radius: 5%;

    text-align: center;
}

.imagenindex {
    display: flex;
    margin: 3%;
    border-radius: 5%;
    text-align: center;




}

.imagenindex1 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    height: 70%;
    width: 70%;
    justify-content: start;
    justify-items: center;

}

.imagenContacto {
    display: flex;
    margin: 2%;
    border-radius: 5%;
    text-align: center;
    height: auto;
    width: 23%;
    border: double black;
    background-color: #3d110d;
    border-width: 2%;
}
.imagenContacto2{
    display: flex;
    margin: 2%;
    border-radius: 5%;
    text-align: center;
    height: auto;
    width: 23%;
    border: double black;
    background-color: #3d110d;
    border-width: 2%;
}
.imagenContacto1 {
    display: flex;
    margin: 2%;
  
    align-items: center;
    justify-content: center;

   
    height: 90%;
    width: auto;
}
.imagenPeligro{
display: block;





}

.imagenindexpublicidad {
    position: relative;
    margin: 1%;
    left: 0%;
    height: 90%;
    width: 70%;
    display: flex;
    border-radius: 5%;
}

.imagenindexpublicidad1 {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;

}

.imagenindexpublicidad2 {
    position: relative;
    display: flex;
    height: 80%;
    width: 60%;
    justify-self: end;
    justify-self: flex-end;
    justify-self: right;

}